<div class="container bookings-container" style="height: 100vh">
  <h1>My Beaches Bookings</h1>
  <div class="row">
    <ul>
      <% current_user.bookings.each do |booking| %>
      <div class="col-xs-6">
        <li><p class="beach-name">The Beach: <%= booking.beach.name %></p></li>
        <li>About the beach: <%= booking.beach.description %></li>
        <li>Location: <%= booking.beach.location %></li>
        <li>Reservation from <%= booking.start_date %> to <%= booking.end_date %></li>
        <li>Price: <%= booking.beach.price %>€ / day</li>
      </div>
      <div class="card" style="background-image: linear-gradient(0deg, rgba(255, 248, 184, 0.20) 50%, rgba(255, 251, 235, 0.48) 80%),url(<%= booking.beach.photo %>);">
      </div>
      <% end %>
    </ul>
  </div>
</div>


