<h1>Beaches#show</h1>
<p>Find me in app/views/beaches/show.html.erb</p>
<h2><%= @beach.name %></h2>
<p><%= @beach.location %></p>
<p><%= @beach.description %></p>
<p><%= @beach.price %></p>
<%= image_tag @beach.photo_url, height: 150, width: 100, crop: :fill %>


<h2>Book this beach</h2>
<% if user_signed_in? %>
  <%= simple_form_for [@beach, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "Book ", class: "btn btn-success" %>
  <% end %>
<% else %>
  <p>Please Log-in to Book Or Create an Account</p>
  <%= link_to "Log-in", new_user_session_path, class:"btn btn-success" %>
  <%= link_to "Create-An-Account", new_user_session_path, class:"btn btn-default" %>
<% end %>
<%= link_to "Go back", beaches_path, class:"btn btn-link" %>
